@import "sass/index.scss";

html {
  width: 100%;
  height: 100%;
}

body {
  height: 100vh;
  background-color: $colorBlack !important;
  color: $colorgrayLight !important;
  font-family: "Lato", sans-serif !important;
  font-weight: 100 !important;
  background-image: url("./assets/img/logoBudget.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400 !important;
}
